body{
    font-family: 'Open Sans',sans-serif;
    background-color: black;
}
#container{
    width: 1200px;
    height: 600px;
    background-image:linear-gradient(rgba(187, 32, 32, 0.3),rgb(0, 0, 0)),url(image.jpg);
    margin: 20px auto;
    position: relative;
}
#calculator{
    width: 300px;
    height: 500px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow:4px 6px 7px #888888;
    
}
#result{
    height: 120px;    
}
#history{
    height: 20px;
    text-align: right;
    font-family: sans-serif;
    font-weight: bold;
    color: #919191;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
}

#output{
    height: 60px;
    text-align: right;
    font-family: sans-serif;
    font-weight: bold;
    height: 20px;
    margin: 10px 20px;
    font-size: 30px;
    
}
#keyboard{
    height: 400px;
    font-family: cursive;
}
.number,.operator,.empty{
    width: 50px;
    height: 50px;
    font-size: 15px;
    margin: 10px;
    border-radius: 50%;
    float: left;
    border-width: 0;
    font-weight: bold;
    background-color:#b8c4ca;
    font-family: sans-serif;
}
.number,.empty{
    background-color: #eaedef;
}
.number,.operator{
    cursor: pointer;
}
.number:active,.operator:active{
    font-size: 13px;
}
.number:focus,.operator:focus,.empty:focus{
    outline: 0;
}
button:nth-last-child(17){
    font-size: 20px;
    background-color: #4c96c1;
}
button:nth-last-child(13){
    font-size: 20px;
    background-color: #d8c83c;
}
button:nth-last-child(9){
    font-size: 20px;
    background-color: #ca6545;
}
button:nth-last-child(5){
    font-size: 20px;
    background-color: #519a33;
}
button:nth-last-child(1){
    font-size: 20px;
    background-color: #a32bab;
}